<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Born in Italy, I'm a freelance illustrator and graphic designer, interested in collaborations short and long term. I specialized in children's book and illustrations for school, you'll find my specific portfolio here!</p>
      </div>
      <div class="col-lg-4">
        <p>Graduated at the Bologna's Academy of Fine Art, I honed my skills at NEMO Academy in Florence and collaborated with many local organizations with graphics, illustrations and creative projects</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="/main/_assets/CV_Davide_Papazzoni.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download CV
        </a>
      </div>
    </div>
  </div>
</section>
